body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: #fafafa;
    color: #222;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #0055cc;
}

section {
    margin-bottom: 40px;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #0078d7;
}

footer {
    text-align: center;
    color: gray;
}
