/* Abstract */
.abstract-section {
  padding: 40px 0; 
  text-align: center; 
}

.abstract-background {
  background-color: #f9f9f9; 
}

.abstract-image img {
  width: 50%; 
  max-width: 600px; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px; 
}

.abstract-image-2 img {
  width: 100%; 
  max-width: 1200px; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px; 
}

.abstract-title {
  color: #333; 
  font-size: 2rem; 
  margin-bottom: 20px; 
  text-transform: uppercase; 
  width: 80%; 
  max-width: 960px; 
  margin: 0 auto; 
}

.abstract-text {
  color: #555; 
  font-size: 1.1rem; 
  line-height: 1.6; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  text-align: justify; 
}

@media (max-width: 768px) {
  .abstract-image img {
    width: 100%; 
  }

  .abstract-title, .abstract-text {
    width: 100%; 
    font-size: 1rem; 
  }
}
